.ionItem {
  margin-left: 20px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  .days {
    display: flex;
    justify-content: center;

    .left {
      width: 80px;
      margin-right: 0;
      --border-radius: 5px 0 0 5px;
    }

    .middle {
      width: 80px;
      margin: 0;
    }

    .right {
      width: 80px;
      margin-left: 0;
      --border-radius: 0 5px 5px 0;
    }
  }
}
