<div class="container" *ngIf="stores"> 
  <div class="filter-sort">
      <app-select-filters class="filter" [filter]="cityFilter"></app-select-filters>
      <button class="add-button" mat-raised-button color="primary"
                (click)="openAddDialog()">
                Add New Store
      </button>
  </div>

  <app-stores-list
    [staffStoreId]="staffStoreId"
    [staffId]="staffId"
    [stores]="stores">
  </app-stores-list>
</div>