<div class="container">
  <app-page-navigation [length]="actorNum"></app-page-navigation>

  <mat-form-field class="example-form-field">
    <mat-label>Search actors</mat-label>
    <input matInput type="text" [ngModel]="searchText" (input)="filterActors($event)">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="onSearchBarClose()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>


  <div *ngIf="actors">

    <mat-grid-list cols="8" rowHeight="5:1">
      <mat-grid-tile-header>
        <mat-grid-tile>ID</mat-grid-tile>
        <mat-grid-tile>Name</mat-grid-tile>
      </mat-grid-tile-header>
    </mat-grid-list>


    <mat-divider color="dark"></mat-divider>

    <mat-list *ngFor="let actor of actors">
      <app-actor-for-list [actor]="actor"></app-actor-for-list>
    </mat-list>

  </div>
  <app-actor-for-list></app-actor-for-list>
</div>
