<app-header></app-header>

<ion-content>

    <app-film-slides type="for you"></app-film-slides>
    <app-film-slides type="most wanted"></app-film-slides>
    <app-film-slides type="new movies"></app-film-slides>
    <app-film-slides type="top rated movies"></app-film-slides>

</ion-content>
