<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="rentalId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td class="row" mat-cell *matCellDef="let rental">
      {{ rental.rentalId }}
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
    <td class="row" mat-cell *matCellDef="let rental">
      {{ rental.title }}
    </td>
  </ng-container>

  <ng-container matColumnDef="rentalDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Rented</th>
    <td class="row" mat-cell *matCellDef="let rental">
      {{ rental.rentalDate | humanizeDate }}
    </td>
  </ng-container>

  <ng-container matColumnDef="returnDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Returned</th>
    <td class="row" mat-cell *matCellDef="let rental">
      {{ rental.returnDate | humanizeDate }}
    </td>
  </ng-container>

  <ng-container matColumnDef="controls">
    <th mat-header-cell class="btns" *matHeaderCellDef>Controls</th>
    <td mat-cell class="btns" *matCellDef="let rental">
      <button
        *ngIf="!rental.returnDate"
        mat-raised-button
        color="primary"
        (click)="returnInventory(rental)"
      >
        Return
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
