.filter-sort {
  display: flex;

  align-items: center;
}

/* .filter-sort * {
  margin-left: 50px;
} */

.filter-sort *:first-child {
  margin-left: 20px;
}

.expander {
  flex-grow: 1;
}

.customer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.select-text {
  font-size: 20px;
}
