<div class="container">
  <div class="filter-sort">
    <div *ngIf="store">{{ store.address }}</div>
    <div class="expander"></div>
    <div class="customer-container">
      <div class="select-text">Select a customer</div>
      <app-search-select-filter
        *ngIf="usernameFilter"
        [filter]="usernameFilter"
      ></app-search-select-filter>
    </div>
    <div class="expander"></div>
  </div>

  <app-rentals></app-rentals>
</div>
