<div class="container">
  <mat-drawer-container autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div *ngIf="showFiller"></div>

      <app-show-films-suggestion [mode]="mode" (filmChecked)="getFilmChacked($event)" [actorId]="actorId">
      </app-show-films-suggestion>
      <mat-divider color="primary"></mat-divider>
      <div></div>
    </mat-drawer>

    <div class="example-container">
      <div class="gridCol">
        <div *ngIf="data">
          <h3 mat-dialog-title>{{ data.name }}</h3>
          <p class="centerText">Edit data for actor</p>
          <div>
            <mat-form-field>
              <mat-label>Actor name</mat-label>
              <input matInput [(ngModel)]="data.name" />
            </mat-form-field>
          </div>
          <button mat-raised-button (click)="openFilmsForAdd()">
            Add film
          </button>
        </div>

        <div>
          <app-show-films-suggestion [mode]="mode" [films]="filmsForAdd"></app-show-films-suggestion>
        </div>
      </div>

      <div class="gridCol">
        <button mat-raised-button color="primary" class="textCenter" (click)="onSubmitClick()">
          Submit
        </button>
        <button mat-raised-button color="primary" class="textCenter" (click)="onCloseCLick()">
          Close
        </button>
      </div>
    </div>
  </mat-drawer-container>
</div>
