

.example-container {
  width: 800px;
  height: 700px;

}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.textCenter{
  width: 100px;
  margin: 0 auto;
  display: block;
}

.twoElements{
  display: flex;
  flex-wrap: wrap;
}

.gridCol {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
}

.sizeForm{
  width: 800px;
  height: 700px;

}
.trend-dialog .mat-dialog-container{
  overflow-y: hidden !important;

}

.mat-dialog-content {
  overflow-y: hidden !important;
}
.container{
  height: 800px;
  width: 800px;
}
