.main-form {
    height: 100%;
    display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3F51B5;
}

.title{
	display: flex;
	justify-content: center;
	font-size: 4.5vh;
	font-weight: 500;
	margin-top: 1.5%;
	color: #3F51B5;
	margin-bottom: 2%;
}

.cards-container{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

