<div class="main-form" *ngIf="!auth">
  <app-login></app-login>
</div>

<div *ngIf="auth">
  <div class="title">Welcome</div>

  <div class="cards-container">
    <app-nav-card *ngFor="let card of cards" [title]="card.title" [routerLink]="[card.route]"
      [iconName]="card.iconName">
    </app-nav-card>
  </div>
</div>
