<div *ngIf="films">
  <h4>Films for add </h4>

  <mat-grid-list cols="2" rowHeight="10:1">
    <mat-grid-tile-header>
      <mat-grid-tile>ID</mat-grid-tile>
      <mat-grid-tile>Name</mat-grid-tile>
    </mat-grid-tile-header>
  </mat-grid-list>


  <mat-divider color="dark"></mat-divider>
  <mat-list *ngFor="let film of films">
    <mat-label> {{film.filmId}} {{film.title}}
    </mat-label>
  </mat-list>

</div>
