.main-wrapper {
	height: 100%;	
}

.main-wrapper .example-full-width,
.main-wrapper .btn-block {
	width: 100%;
	font-size: large;
	margin-bottom: 7px;
}

.main-wrapper mat-card-header {
	text-align: center;
	width: 100%;
	display: block;
	font-weight: 700;
}

.main-wrapper mat-card-header mat-card-title {
	font-size: 30px;
	margin-bottom: 15px;
}

.main-wrapper .mat-card {
	padding: 35px 70px 55px;
	border-radius: 25px;
}

.main-wrapper .mat-stroked-button {
	border: 1px solid currentColor;
	line-height: 54px;
	background: #FFF7FA;
}

.main-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
	padding: 0.8375em 0;
}

.pass-icon {
	font-size: 30px !important;
	margin-bottom: 10px;
}