<div class="main-wrapper">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>

    <form class="example-form" (ngSubmit)="login()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Email address"
            [formControl]="email"
            required
            autocomplete="on"
          />
          <mat-error *ngIf="email.invalid">{{
            getErrorMessageForEmail()
          }}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Password"
            [formControl]="password"
            [type]="hide ? 'password' : 'text'"
            required
            autocomplete="on"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
          >
            <mat-icon class="pass-icon">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="password.invalid">{{
            getErrorMessageForPassword()
          }}</mat-error>
        </mat-form-field>
      </mat-card-content>

      <button
        mat-stroked-button
        type="submit"
        color="primary"
        class="btn-block"
      >
        Sign-in
      </button>
    </form>
  </mat-card>
</div>
