.filter-sort {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.filter-sort * {
  margin-left: 50px;
}

.filter-sort *:last-child {
  margin-right: 20px;
}

.expander {
  flex-grow: 1;
}
