<div class="container">
  <div class="filter-sort">
    <div *ngIf="myStore">{{ myStore.address }}</div>
    <div class="expander"></div>
    <app-search-select-filter
      *ngIf="customerFilter"
      [filter]="customerFilter"
    ></app-search-select-filter>
    <app-select-filters [filter]="statusFilter"> </app-select-filters>
    <app-page-navigation [length]="1000"></app-page-navigation>
  </div>
  <app-rental-requests
    [auth]="auth"
    [rentalRequests]="rentalRequests"
  ></app-rental-requests>
</div>
