table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.btns {
  text-align: center;
}

.btn {
  margin-left: 20px;
}

.pending {
  background-color: #e5ee90;
}

.rejected {
  background-color: #ffb6c1;
}

.accepted {
  background-color: #90ee90;
}

.canceled {
  background-color: #fed8b1;
}
