<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="rentalRequestId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td
      class="row"
      mat-cell
      *matCellDef="let rental"
      [ngClass]="{
        pending: rental.status === 'pending',
        rejected: rental.status === 'rejected',
        accepted: rental.status === 'accepted',
        canceled: rental.status === 'canceled'
      }"
    >
      {{ rental.rentalRequestId }}
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Film</th>
    <td
      mat-cell
      *matCellDef="let rental"
      [ngClass]="{
        pending: rental.status === 'pending',
        rejected: rental.status === 'rejected',
        accepted: rental.status === 'accepted',
        canceled: rental.status === 'canceled'
      }"
    >
      {{ rental.title }}
    </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer</th>
    <td
      mat-cell
      *matCellDef="let rental"
      [ngClass]="{
        pending: rental.status === 'pending',
        rejected: rental.status === 'rejected',
        accepted: rental.status === 'accepted',
        canceled: rental.status === 'canceled'
      }"
    >
      {{ rental.username }}
    </td>
  </ng-container>

  <ng-container matColumnDef="inventoryCount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Inventory</th>
    <td
      mat-cell
      *matCellDef="let rental"
      [ngClass]="{
        pending: rental.status === 'pending',
        rejected: rental.status === 'rejected',
        accepted: rental.status === 'accepted',
        canceled: rental.status === 'canceled'
      }"
    >
      {{ rental.inventoryCount }}
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td
      mat-cell
      *matCellDef="let rental"
      [ngClass]="{
        pending: rental.status === 'pending',
        rejected: rental.status === 'rejected',
        accepted: rental.status === 'accepted',
        canceled: rental.status === 'canceled'
      }"
    >
      {{ rental.status }}
    </td>
  </ng-container>

  <ng-container matColumnDef="createDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Create Date</th>
    <td
      mat-cell
      *matCellDef="let rental"
      [ngClass]="{
        pending: rental.status === 'pending',
        rejected: rental.status === 'rejected',
        accepted: rental.status === 'accepted',
        canceled: rental.status === 'canceled'
      }"
    >
      {{ rental.createDate | humanizeDate }}
    </td>
  </ng-container>

  <ng-container matColumnDef="controls">
    <th mat-header-cell class="btns" *matHeaderCellDef>Controls</th>
    <td
      mat-cell
      class="btns"
      *matCellDef="let rental"
      [ngClass]="{
        pending: rental.status === 'pending',
        rejected: rental.status === 'rejected',
        accepted: rental.status === 'accepted',
        canceled: rental.status === 'canceled'
      }"
    >
      <button
        *ngIf="rental.status === 'pending'"
        [disabled]="rental.inventoryCount === 0"
        mat-raised-button
        color="primary"
        (click)="acceptRentalRequest(rental)"
      >
        Accept
      </button>
      <button
        *ngIf="rental.status === 'pending'"
        class="btn"
        mat-raised-button
        color="accent"
        (click)="rejectRentalRequest(rental)"
      >
        Reject
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
