<mat-form-field appearance="fill">
  <mat-label>{{ filter.type }}</mat-label>
  <input
    type="text"
    placeholder="username"
    matInput
    [formControl]="search"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option
      *ngFor="let f of filteredOptions | async"
      [value]="f"
      (click)="onClick(f)"
    >
      {{ f }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
