<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="films">
      <ion-icon name="film"></ion-icon>
      <ion-label>Films</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-icon name="grid"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stores">
      <ion-icon name="storefront"></ion-icon>
      <ion-label>Stores</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>