<div *ngIf="film">
  <h1 mat-dialog-title>Edit film {{ film.filmId }}</h1>
  <div mat-dialog-content>
    <form [formGroup]="form" class="container">
      <mat-form-field class="item" *ngFor="let input of inputs">
        <mat-label>{{ input.label }}</mat-label>
        <input matInput formControlName="{{ input.formControlName }}" />
      </mat-form-field>
      <mat-form-field class="item" appearance="fill">
        <mat-label>Rating</mat-label>
        <mat-select [value]="film.rating" (selectionChange)="selectionChange('rating', $event)">
          <mat-option *ngFor="let r of ratings" [value]="r">
            {{ r }}
          </mat-option>
        </mat-select>
        
      </mat-form-field>
      <mat-form-field class="item" *ngIf="categories" appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select [value]="film.categoryId" (selectionChange)="selectionChange('categoryId', $event)">
          <mat-option *ngFor="let category of categories" [value]="category.categoryId">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="item" *ngIf="languages" appearance="fill">
        <mat-label>Language</mat-label>
        <mat-select [value]="film.languageId" (selectionChange)="selectionChange('languageId', $event)">
          <mat-option *ngFor="let language of languages" [value]="language.languageId">
            {{ language.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="item">
      </div>
      <mat-form-field class="grow">
        <mat-label>Description</mat-label>
        <textarea cdkTextareaAutosize matInput formControlName="description"></textarea>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions align="center">
    <button color="warn" mat-button (click)="close()">Close</button>
    <button color="primary" mat-raised-button (click)="onSubmit()" cdkFocusInitial>
      Submit
    </button>
  </div>
</div>
