<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menu"
    *ngIf="auth"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngFor="let item of items" mat-menu-item [routerLink]="[item.path]">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span>{{ item.text }}</span>
    </button>
  </mat-menu>
  <button [routerLink]="['home']" class="logo" mat-button>
    <img class="img" src="../../../../assets/vectors/logo.svg" />
  </button>
  <span class="example-spacer"></span>
  <div [matMenuTriggerFor]="menu2" class="profile" *ngIf="auth">
    <mat-menu #menu2="matMenu" xPosition="before">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    <div class="username-email">
      <div class="username">{{ auth.username }}</div>
      <h6 class="email">{{ auth.email }}</h6>
    </div>
    <img class="avatar" [src]="auth.picture" />
  </div>
</mat-toolbar>
