.example-spacer {
  flex: 1 1 auto;
}

.img {
  width: 100%;
}

.logo {
  width: 200px;
}

.profile {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0 5px 0 5px;
}

.profile:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}

.username-email {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.email {
  font-size: small;
  font-weight: 400;
}
