.card-nav {
    font-size: 25px;
    padding: 10px;
    margin: 7px;
    flex: 1 0 21%;
    margin: 10px;
    width: 500px;
    border: 1px solid currentColor;
	line-height: 45px;
	background: #FCC139;
}

.hide {
    visibility: hidden 
}