<ion-list>
  <ion-list-header color="light">
    <ion-label>Cast</ion-label>
    <ion-label>Role</ion-label>
  </ion-list-header>
  <ion-item-sliding *ngFor="let actor of actors">
    <ion-item-options side="start">
      <ion-item-option (click)="onClickActor(actor.actorId)" color="blockbuster-bg">View actor</ion-item-option>
    </ion-item-options>
    <ion-item color="light" detail (click)="onActorClick(actor.actorId)">
      <ion-label> {{ actor.name }}</ion-label>
      <ion-label slot="end">{{ actor.character }}</ion-label>
    </ion-item>
  </ion-item-sliding>
</ion-list>