<h2 mat-dialog-title>Confirmation</h2>
<mat-dialog-content class="mat-typography">
Are you sure you want to change stores
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="selectStore()" [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
</mat-dialog-actions>
