.film-add-container {
  position: relative;
  /* left: 10%; */
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.form-box {
  display: flex;
  flex-direction: row;
  width: 450px;
  /* margin-left: 30px; */
  margin-top: 20px;
  padding: 30px;
  border: 1px solid grey;
  border-radius: 10px;
  /* background-color: #fcc139; */
}

.left {
  margin-right: 50px;
}

button {
  margin-top: 23px;
  width: 200px;
  height: 40px;
}

mat-form-field {
  margin-bottom: 25px;
}

.film-list {
  display: flex;
  flex-direction: column;
  max-height: 400px;
}

.slika {
  width: 75px;
  height: 110px;
}
.title {
  align-self: center;
  margin-left: 10px;
}

.example-viewport {
  margin-left: 30px;
  margin-top: 70px;
  height: 690px;
  width: 400px;
  border: 1px solid grey;
  border-radius: 10px;
}

.example-item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  vertical-align: middle;
}

.empty {
  display: none;
}

.actors {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 20px;
  padding: 30px;
}

.actor {
  display: flex;
  align-items: center;
}

.name {
  margin-left: 15px;
}

.profile-container {
  width: 80px;
}

.profile-container img {
  width: 80px;
}

.spacer {
  flex-grow: 1;
}
