<div class="film-add-container">
  <form [formGroup]="film" (ngSubmit)="onSubmit()">
    <h2>Add new movie to database</h2>
    <div class="form-box">
      <div class="left">
        <mat-form-field appearance="standard">
          <mat-label>Title:</mat-label>
          <input #title matInput formControlName="title" />
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Description:</mat-label>
          <textarea
            matInput
            formControlName="description"
            cdkTextareaAutosize
          ></textarea>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Release yaer:</mat-label>
          <input matInput formControlName="releaseYear" />
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Rental duration:</mat-label>
          <input matInput formControlName="rentalDuration" />
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Rental rate:</mat-label>
          <input matInput formControlName="rentalRate" />
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Length:</mat-label>
          <input matInput formControlName="length" />
        </mat-form-field>
      </div>
      <div class="right">
        <mat-form-field appearance="standard">
          <mat-label>Replacement cost:</mat-label>
          <input matInput formControlName="replacementCost" />
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Rating:</mat-label>
          <input matInput formControlName="starRating" />
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>PosterUrl:</mat-label>
          <textarea
            matInput
            formControlName="posterUrl"
            cdkTextareaAutosize
          ></textarea>
        </mat-form-field>

        <mat-form-field class="item" *ngIf="categories" appearance="fill">
          <mat-label>Category</mat-label>
          <mat-select
            (selectionChange)="selectionChange('categoryId', $event)"
            [value]="startCategory"
          >
            <mat-option
              *ngFor="let category of categories"
              [value]="category.categoryId"
            >
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="item" *ngIf="languages" appearance="fill">
          <mat-label>Language</mat-label>
          <mat-select
            (selectionChange)="selectionChange('languageId', $event)"
            [value]="startLanguage"
          >
            <mat-option
              *ngFor="let language of languages"
              [value]="language.languageId"
            >
              {{ language.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br />
        <button mat-stroked-button type="submit" [disabled]="!film.valid">
          Submit
        </button>
      </div>
    </div>
  </form>

  <!-- <div class="film-list">
        <div *ngFor="let film of films">
            <img id="slika" src={{film.posterUrl}}>
            <label>{{film.title}}</label>
        </div>
        <hr>
    </div> -->

  <cdk-virtual-scroll-viewport
    *ngIf="films.length !== 0"
    itemSize="{{ films.length }}"
    class="example-viewport"
    [ngClass]="{ empty: films.length === 0 }"
  >
    <div
      *cdkVirtualFor="let film of films"
      style="cursor: pointer"
      class="example-item"
      (click)="handleClick(film)"
    >
      <div>
        <img class="slika" src="{{ film.posterUrl }}" />
      </div>
      <h3 class="title">{{ film.title }}</h3>
    </div>
  </cdk-virtual-scroll-viewport>

  <div *ngIf="actors.length !== 0">
    <div class="actors">
      <div class="actor" *ngFor="let actor of actors">
        <div class="profile-container">
          <img src="https://image.tmdb.org/t/p/w500{{ actor.profile_path }}" />
        </div>
        <div class="name">{{ actor.name }}</div>
        <div class="spacer"></div>
        <div>{{ actor.character }}</div>
      </div>
    </div>
  </div>
</div>
