<ion-card (click)="onPosterClick()">
  <ion-card-content color="dark">
    <ion-img src="https://image.freepik.com/free-psd/cinema-film-slate-camera_23-2148585416.jpg">
    </ion-img>
    <ion-text color="dark">
    </ion-text>
  </ion-card-content>

  <ion-card-header>
    <ion-card-title>{{category.name}}</ion-card-title>
  </ion-card-header>
</ion-card>
