<app-header subheader="PAYMENTS" [backButton]="true"></app-header>

<ion-content>
  <app-tab-filter [filter]="typeFilter"></app-tab-filter>
  <app-tab-filter [filter]="ageFilter"></app-tab-filter>
  <app-payments [payments]="payments"></app-payments>
</ion-content>
