table {
  width: 100%;
}
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.marginel{
  margin-left: 200px;
 margin-bottom: 10px;
}

.example-form-field {
  width: 200px;
}


.container {
  margin : 20px;
}
