<table mat-table [dataSource]="films">
  <ng-container matColumnDef="id">
    <th mat-heade r-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let film">{{ film.filmId }}</td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell class="title" *matCellDef="let film">{{ film.title }}</td>
  </ng-container>

  <ng-container matColumnDef="releaseYear">
    <th mat-header-cell *matHeaderCellDef>Year</th>
    <td mat-cell *matCellDef="let film">{{ film.releaseYear }}</td>
  </ng-container>

  <ng-container matColumnDef="categoryName">
    <th mat-header-cell *matHeaderCellDef>Category</th>
    <td mat-cell class="category" *matCellDef="let film">
      {{ film.categoryName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="length">
    <th mat-header-cell *matHeaderCellDef>Length</th>
    <td mat-cell *matCellDef="let film">{{ film.length | humanizeTime }}</td>
  </ng-container>

  <ng-container matColumnDef="languageName">
    <th mat-header-cell *matHeaderCellDef>Language</th>
    <td mat-cell *matCellDef="let film">{{ film.languageName }}</td>
  </ng-container>

  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef>Rating</th>
    <td mat-cell *matCellDef="let film">{{ film.rating }}</td>
  </ng-container>

  <ng-container matColumnDef="starRating">
    <th mat-header-cell *matHeaderCellDef>Star rating</th>
    <td mat-cell *matCellDef="let film">{{ film.starRating }}</td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell class="btns" *matHeaderCellDef>Controls</th>
    <td mat-cell class="btns" *matCellDef="let film">
      <button
        mat-raised-button
        color="accent"
        (click)="openEditDialog(film.filmId)"
      >
        Edit
      </button>
      <button
        class="btn"
        mat-raised-button
        color="primary"
        (click)="openInventoryDialog(film.filmId)"
      >
        Inventory
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
