<ion-menu side="start" menuId="first" contentId="main" #menu>
  <ion-header>
    <ion-toolbar color="blockbuster-bg">
      <!-- <ion-title>Blockbuster</ion-title> -->
      <ion-img class="logo"></ion-img>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item
        (click)="menu.toggle()"
        class="item"
        *ngFor="let item of items"
        [routerLink]="item.router"
      >
        {{ item.text }}<ion-icon slot="start" name="{{ item.icon }}"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-icon slot="start" name="moon-outline"></ion-icon>
      <ion-label> Dark Mode </ion-label>
      <ion-toggle (ionChange)="sendDarkMode()" [(ngModel)]="dark"></ion-toggle>
    </ion-item>
  </ion-content>
</ion-menu>
