<div class="container" *ngIf="films">
  <div class="filter-sort">
    <app-toggle-sorts class="sort" [sorts]="sorts"></app-toggle-sorts>
    <app-select-filters class="filter" [filter]="categoryFilter"></app-select-filters>
    <div class="spacer"></div>
    <app-page-navigation [length]="films.numberOfRecords"></app-page-navigation>
  </div>
  <app-film-list [films]="films.films"></app-film-list>
</div>
 