.filter-sort {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.spacer {
  flex-grow: 1;
}

.sort {
  margin-left: 30px;
}

.filter {
  margin-top: 20px;
  margin-left: 30px;
}

