<table mat-table [dataSource]="stores" multiTemplateDataRows class="mat-elevation-z8">

    <ng-container matColumnDef="storeId">
        <th mat-header-cell *matHeaderCellDef> Store Id </th>
        <td *matCellDef="let store" align="center"> {{store.storeId}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
        <th mat-header-cell class="center" *matHeaderCellDef> Address </th>
        <td mat-cell class="center" *matCellDef="let store"> {{store.address}} </td>
    </ng-container>

    <ng-container matColumnDef="postalCode">
        <th mat-header-cell *matHeaderCellDef> Postal Code </th>
        <td mat-cell *matCellDef="let store"> {{store.postalCode}} </td>
    </ng-container>

    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *matCellDef="let store"> {{store.city}} </td>
    </ng-container>

    <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef> Country </th>
        <td mat-cell *matCellDef="let store"> {{store.country}} </td>
    </ng-container>

    <ng-container matColumnDef="longitude">
        <th mat-header-cell *matHeaderCellDef> Longitude </th>
        <td mat-cell *matCellDef="let store"> {{store.longitude}} </td>
    </ng-container>

    <ng-container matColumnDef="latitude">
        <th mat-header-cell *matHeaderCellDef> Latitude </th>
        <td mat-cell *matCellDef="let store"> {{store.latitude}} </td>
    </ng-container>

    <ng-container matColumnDef="storeSelect">
        <th mat-header-cell *matHeaderCellDef> Select store </th>
        <td mat-cell *matCellDef="let store" (click)="$event.stopPropagation()">
            <button *ngIf="store.storeId !== staffStoreId" mat-raised-button color="primary"
                (click)="selectStore(store.storeId)">
                Select
            </button>
        </td>    
    </ng-container>

    <ng-container matColumnDef="editStore">
        <th mat-header-cell *matHeaderCellDef> Edit store </th>
        <td mat-cell *matCellDef="let store" (click)="$event.stopPropagation()">
            <button *ngIf="store.storeId === staffStoreId" mat-raised-button
                (click)="openEditDialog(store)">
                Edit
            </button>
        </td>  
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <table mat-table [dataSource]="element.staff" class="mat-elevation-z8" width="100%">
 
                    <ng-container matColumnDef="staffId">
                      <th mat-header-cell *matHeaderCellDef> Staff Id </th>
                      <td mat-cell *matCellDef="let elem"> {{elem.staffId}} </td>
                    </ng-container>
                   
                    <ng-container matColumnDef="firstName">
                      <th mat-header-cell *matHeaderCellDef>First Name </th>
                      <td mat-cell *matCellDef="let elem"> {{elem.firstName}} </td>
                    </ng-container>
                   
                    <ng-container matColumnDef="lastName">
                      <th mat-header-cell *matHeaderCellDef> Last Name</th>
                      <td mat-cell *matCellDef="let elem"> {{elem.lastName}} </td>
                    </ng-container>
                   
                    <ng-container matColumnDef="username">
                      <th mat-header-cell *matHeaderCellDef> Username </th>
                      <td mat-cell *matCellDef="let elem"> {{elem.username}} </td>
                    </ng-container>  
                    
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let elem"> {{elem.email}} </td>
                      </ng-container>
                   
                    <tr mat-header-row *matHeaderRowDef="columnsStaff"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsStaff;"></tr>
                  </table>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        [class.make-blue]="element.storeId === staffStoreId"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>