.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

table {
  overflow: auto;
  max-height: 500px;
}

tr.example-element-row {
  cursor: pointer;
}

tr.example-element-row:not(.make-blue):hover {
  background: #eeeeee;
}

tr.example-element-row.make-blue:hover {
  background: #78e4ff;
}

.make-blue {
  background-color: #5AC6E6 ;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}