<mat-accordion *ngIf="actor">
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ actor.actorId }}
      </mat-panel-title>
      <mat-panel-description>
        {{ actor.name }}
      </mat-panel-description>

      <mat-panel-description class="buttonSt">
        <div class="example-button-row">
          <button mat-raised-button color="primary" (click)="openDialog()">
            Edit
          </button>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-films-for-actor
      #filmsForActor
      [actor]="actor"
      [panelOpenState]="panelOpenState"
    ></app-films-for-actor>
  </mat-expansion-panel>
</mat-accordion>
