<table mat-table [dataSource]="staff">
    <ng-container matColumnDef="staffId">
      <th mat-heade r-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let staff">{{ staff.staffId }}</td>
    </ng-container>
  
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First name</th>
      <td mat-cell *matCellDef="let staff">{{ staff.firstName }}</td>
    </ng-container>
  
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last name</th>
      <td mat-cell *matCellDef="let staff">{{ staff.lastName }}</td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let staff">{{ staff.email }}</td>
    </ng-container>
  
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let staff">{{ staff.username }}</td>
    </ng-container>

    
  
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
