.data {
  /* border-bottom: #ababab solid 1px; */
  padding-right: 20px;
  padding-left: 20px;
}

.center {
  text-align: center;
}

.my-store {
  border-bottom: solid 1px #bababa;
  border-top: solid 1px #bababa;
  background-color: #dadada;
  border-radius: 2px;
}
