<div>
  <div mat-dialog-title>Inventory for {{ data.filmId }}</div>
  <div mat-dialog-content>
    <table>
      <tr class="test">
        <th class="data">Id</th>
        <th class="data">Address</th>
        <th class="data">No</th>
        <th>Control</th>
      </tr>
      <tr *ngFor="let store of stores">
        <td
          [ngClass]="{ 'my-store': isMyStore(store.storeId) }"
          class="data center"
        >
          {{ store.storeId }}
        </td>
        <td [ngClass]="{ 'my-store': isMyStore(store.storeId) }" class="data">
          {{ store.address }}
        </td>
        <td
          [ngClass]="{ 'my-store': isMyStore(store.storeId) }"
          class="data center"
        >
          {{ store.inventoryCount }}
        </td>
        <td>
          <button color="primary" mat-flat-button (click)="addInventory(store)">
            Add
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div mat-dialog-actions align="center">
    <button mat-dialog-close mat-button color="warn">Close</button>
  </div>
</div>
