<div *ngIf="films">

  <table matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
    <tr>
      <th mat-sort-header="customerId">ID</th>
      <th mat-sort-header="title">Title</th>
      <th mat-sort-header="category">Category</th>
      <th mat-sort-header="rating">Rating</th>
      <th mat-sort-header="delete">Delete</th>
    </tr>
    <tr *ngFor="let film of sortedData">
      <td>{{film.filmId}}</td>
      <td>{{film.title}}</td>
      <td>{{film.categoryName}}</td>
      <td>{{film.starRating}}</td>
      <td>
        <div class="example-button-container">
          <button (click)="onDeleteClick($event)" mat-mini-fab value="{{film.filmId}}" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </tr>

  </table>
</div>
