ion-avatar {
  width: 100px;
  height: 100px;
  margin: auto;
}



detailsCust{
  max-width: max-content;
  writing-mode: vertical-lr;
}

expand-button-size{
  width:30%;
  height:30%;
}


centerEl{

  text-align-last: center;
}
.ItemSpace {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
