<div *ngIf="freeManagers.length != 0">
    <h2 mat-dialog-title>Add new store</h2>

    <mat-dialog-content class="mat-typography">
        <form [formGroup]="this.form" class="container">
            <mat-form-field class="item">
                <mat-label>Address</mat-label>
                <input matInput formControlName="address" />
            </mat-form-field>
            <mat-form-field class="item">
                <mat-label>Longitude</mat-label>
                <input matInput formControlName="longitude" />
            </mat-form-field>
            <mat-form-field class="item">
                <mat-label>Latitude</mat-label>
                <input matInput formControlName="latitude" />
            </mat-form-field>
            <mat-form-field class="item">
                <mat-label>Postal code</mat-label>
                <input matInput formControlName="postalCode" />
            </mat-form-field>

            <mat-form-field class="item" appearance="fill">
                <mat-label>Manager</mat-label>
                <mat-select formControlName="freeManagers">
                    <mat-option [value]="manager.staffId" *ngFor="let manager of this.freeManagers">
                        {{ manager.username}} {{manager.staffId}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="item" appearance="fill">
                <mat-label>Country</mat-label>
                <mat-select (selectionChange)="selectionChange('countryId', $event)">
                    <mat-option *ngFor="let country of this.countries" [value]="country.countryId">
                        {{ country.country }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="item" appearance="fill">
                <mat-label>City</mat-label>
                <mat-select (selectionChange)="selectionChange('cityId', $event)">
                    <mat-option *ngFor="let city of this.cities" [value]="city.cityId">
                        {{ city.city }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="item">
                <mat-label>District</mat-label>
                <input matInput formControlName="district" />
            </mat-form-field>

        </form>
    </mat-dialog-content>


    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" [disabled]="form.invalid" type="submit"
            (click)="Submit()">Save</button>
    </mat-dialog-actions>

</div>

<div *ngIf="freeManagers.length === 0">
    <h2 mat-dialog-title>Cannot create new store</h2>
<mat-dialog-content class="mat-typography">
  <h3>The store cannot be created because there are no staff available to manage the store</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Continue</button>
</mat-dialog-actions>

</div>