<div class="gridCol">
  <div *ngIf="data">
    <h3 mat-dialog-title>{{data.firstName}} {{data.lastName}}</h3>
    <p class="centerText">Edit data for customer</p>
    <div>
      <mat-form-field>
        <mat-label>Customer name</mat-label>
        <input matInput [(ngModel)]="data.firstName">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Customer lastname</mat-label>
        <input matInput [(ngModel)]="data.lastName">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Customer username</mat-label>
        <input matInput [(ngModel)]="data.username">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Customer balance</mat-label>
        <input matInput [(ngModel)]="data.balance">
      </mat-form-field>
    </div>

  </div>
</div>

<div class="gridCol">
  <button mat-raised-button color="primary" class="textCenter" (click)="onSubmitClick()">Submit</button>
  <button mat-raised-button color="warn" class="textCenter" (click)="onCloseClick()">Close</button>
</div>
