<mat-form-field appearance="fill">
  <mat-label>{{ filter.type }}</mat-label>
  <mat-select matNativeControl [value]="filter.values[0]">
    <mat-option *ngFor="let f of filter.values" [value]="f" (click)="onClick(f)">
      {{ f }}
    </mat-option>
  </mat-select>
</mat-form-field>
