<ion-content>
  <ion-list>
    <ion-item *ngFor="let n of notifications" [ngClass]="{ read: n.read }">
      <ion-label (click)="notificationClick(n)">
        <ion-label>
          <h2>{{ n.title }}</h2>
        </ion-label>
        <ion-label>
          <p class="ion-text-wrap">{{ n.notificationText }}</p>
        </ion-label>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button *ngIf="!n.read" (click)="readNotification(n)"
          >Read</ion-button
        >
      </ion-buttons>
      <ion-icon *ngIf="n.read" slot="end" name="checkmark">check</ion-icon>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="!noMoreNotifications">
    <ion-buttons slot="end">
      <ion-button size="large" (click)="readAll()">Read all</ion-button>
      <ion-button size="large" (click)="loadMore()">Load more</ion-button>
    </ion-buttons>
  </ion-item>
</ion-content>
