<div>
  <mat-grid-list cols="2" rowHeight="10:1">
    <mat-grid-tile-header>
      <mat-grid-tile>ID</mat-grid-tile>
      <mat-grid-tile>Name</mat-grid-tile>
    </mat-grid-tile-header>
  </mat-grid-list>

  <mat-divider color="dark"></mat-divider>
  <button *ngIf="mode=='adding'" color="primary" (click)="onClickAddFilmToList()" mat-raised-button>
    Add films to list
  </button>

  <div *ngIf="films">

    <mat-list class="spaceBet" *ngFor="let film of films">
      <input *ngIf="mode=='adding'" id={{film.filmId}} type="checkbox" (click)="onClickedCheckbox($event)"
        [checked]="isFilmForAdding(film)">
      {{film.filmId}}
      {{film.title}}
    </mat-list>

  </div>
  <div *ngIf="films">

  </div>

</div>
