<ion-header>
  <app-header [backButton]="true" subheader="CATEGORIES"></app-header>
</ion-header>

<ion-content>
  <app-films-all-posters-categories></app-films-all-posters-categories>
</ion-content>
